.root {
  padding: 100px;
  max-width: 750px;
  text-align: center;
  margin: 0 auto;

  span {
    font-size: 100px;
  }
}

.description {
  font-size: 27px;
}


//.buttonHome {
//  margin: 0 auto;
//  display: block;
//  color: white;
//  font-size: 20px;
//  background-color: #FE5F1EFF;
//  border-radius: 30px;
//  padding: 10px 20px;
//  text-align: center;
//  cursor: pointer;
//  border: 1px solid white;
//}